<!--
By Huygens Adrien 

-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le PASS Gestion de log{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="/images/pass_logo5.png" />
    
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen" />
            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite'  output='css/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            
           
        {% endblock %}
          <script src="{{ asset('/js/jquery.js') }}"></script>
        
    </head>
    <body>

        {{app.request.session.set("filtre",null) }}
         {{app.request.session.set("r",null) }}
        <div id="corp">
            <div class="container-fluid">
            <div class="row ">
                <div class="col-md-4 col-lg-4 col-xs-4" id="logo"></div>
                <div class="col-md-6 col-lg-6 col-xs-6" id="baniere"></div>
            </div>
                </div>
            <div class="row " id="contenu">
          
            

                   
                   
                    <nav class="navbar navbar-default ">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 col-lg-9 col-xs-12">
                            <div class="container"> 
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                    <a class="navbar-brand men" href="{{ path('PASS_ACCUEIL2') }}">GDL</a>
                                    {% else %}
                                          <a class="navbar-brand men" href="{{ path('PASS_ACCUEIL') }}">GDL</a>
                                        {% endif %}
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                   <ul class="nav navbar-nav">
                                       <li> {#{ knp_menu_render('breadcrumb',{'currentAsLink':false}) }#}
                                           {{ knp_menu_render('PASSGeneralLogBundle:Builder:createBreadcrumbMenu') }}
                                       </li>
                                 
                                   </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                                </div>
                        </nav>
                   
                   
                       



                 <div class="col-md-3 "></div>
                  <div class="col-md-9">
                 <h1>{% block titrePage %}Bienvenu(e) !{% endblock %}</h1>
                  </div>
               
                
                <div class="col-md-3 col-lg-3 col-xs-12 ">
                    </br>
                    <div id="menuGauche" style="padding-left: 10px;" >
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            Bonjour {{ app.user.username |capitalize }} !
                            
                            <br />  
                            <br /> 
                           
                            {%  if not is_granted("ROLE_MEMORY") and not app.user.ldap %}
                           <a href="{{ path('PASS_MonCompte') }}"><button  type="button" class="btn btn-success btn150">Mon compte  </button></a>
                            {% endif %}
                            <br />  
                            <br />
                            <a href="{{ path('logout') }}"> <button type="button" class="btn btn-danger btn150">Se déconnecter</button></a>
                        {% else %}
                                             
                           {{ include('PASSAuthentificationLogBundle:authentification:loginForm_part.html.twig') }}
                             
                         
                        {% endif %}
                        
                   
                    </div>
                     
                    {% block menuleft %}
                    
                    {% endblock %}
                   
                </div>
                    
                    
                    
                    
                    
                <div class="col-md-9 col-lg-9 col-xs-12">
                     <br />
                    {% block notif %}
                    
                        {% if notification is defined %}
                               {% for notif in notification  %}
                                   {% include notif.vue %}

                               {% endfor %}
                            {% endif %}
                    {% endblock %}
                   
                    {% block contenu %}<p>Contenu</p>{% endblock %}
                </div>
            
               
            </div>   
              
            <div class="row row2">
                <div class="col-lg-12 col-md-12 col-xs-12" id="pied">
                        © 2015 Pass v1.1
                </div>
            </div>

        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            
            <!-- Include all JavaScripts, compiled by Assetic -->
             <script src="{{ asset('js/bootstrap.js') }}"></script>
             
              {% javascripts '../app/Resources/public/js/*'output='js/*.js' %}
                <script src="{{ asset_url }}"></script>
           
                {% endjavascripts %}

        {% endblock %}
    </body>
</html>
