{% extends "::base.html.twig" %}

{% block titrePage %}
            {{ titrePage }} {% endblock %}

            
{% block menuleft  %}  
    {% if  is_granted("ROLE_GROUPE_ORDI_C") or is_granted("ROLE_ADMIN")%} 
    <div id="menuGauche" class='center2'>
                     <a href="{{ path(chemin) }}/add"> Ajouter un {{ activite }}  </a>  
                    </div>
    {%endif%}
    {% endblock %}

{% block contenu %}
     
    {% if  is_granted("ROLE_GROUPE_ORDI_R") or is_granted("ROLE_ADMIN")%} 
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ activite |capitalize }} locaux</h3>
                </div>
                <div class="panel-body">
                    {% for info in tab %}
                        <a href="{{ path(chemin,{'listingId': info.id}) }}"> {{ info.affichage |capitalize }}  </a><br />
                        
                            
                       
                    {% endfor %}
                    
                </div>
            </div>
        </div>
     {%endif%}
{% endblock %} 