{% extends "::base.html.twig" %}

{% block titrePage %}
            {{ titrePage }} {% endblock %}

            
{% block menuleft  %}  
    {% if  is_granted("ROLE_GROUPE_ORDI_C") or is_granted("ROLE_ADMIN")%} 
    <div id="menuGauche" class='center2'>
                     <a href="{{ path(chemin) }}/add"> Ajouter un {{ activite }}  </a>  
                    </div>
    {%endif%}
    {% endblock %}

{% block contenu %}
     
    {% if  is_granted("ROLE_GROUPE_ORDI_R") or is_granted("ROLE_ADMIN")%} 
       <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ activite |capitalize }} locaux <div class="aligner" > 

                            {% if activite == "groupeOrdi" and is_granted("ROLE_GROUPE_ORDI_C") or is_granted("ROLE_ADMIN")%}
                                <a href="{{ path('PASS_GroupeOrdinateurListing') }}"><span class="glyphicon glyphicon-plus" title="Voir l'utilisateur"  aria-hidden="true"></span> </a>


                            {% endif %}            


                        </div></h3>
                </div>
                <div class="panel-body">

                    <table class="col-lg-12">

                        <tr>
                            <th> Nom </th>
                            <th> Mail </th>
                            <th> Action rapide </th>

                        </tr>
                        {% for jeune in tab %}
                            <tr>
                                <td><a href="{{ path(chemin,{'listingId': jeune.id}) }}"> {{ jeune.affichage |capitalize }}  </a></td>
                                <td> {{ jeune.bool(jeune.mail)|raw  }}  </td>

                                <td> 
                                    {% if activite == "groupeOrdi" %}
                                        {% include "PASSGeneralLogBundle:form:actionRapideGroupeOrdinateur.html.twig" %}
                                    
                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
     {%endif%}
{% endblock %} 