{% extends "::base2.html.twig" %}

{% block titrePage %}
            {{ titrePage }} {% endblock %}



{% block contenu %}
     
     <div class="col-lg-12">
            <div class="panel panel-info">
                
                <div class="panel-heading">
                 
                      
                </div>
                {% if listing != null %}
                <div class="panel-body">
                   
                      
                       <table class="table col-lg-6 ">
                                <tr>
                                    <th> Date </th>
                                    <th> Prioriter </th>
                                    <th> Type </th>
                                    <th> Hôte </th>
                                    <th> Message </th>
                                    <th> Tag </th>
                                    </tr>
                                {% for val in listing %}
                                   
                            <tr style="background-color:{{val.couleur}}">    
                                
                               
                                     <td style=" min-width: 13%;"> {{ val.devicereportedtime| date('d-m-Y H:i:s')  }}</td>
                                      <td> {{ val.nom| raw  }}</td>
                                     <td> {{ val.nomf| raw  }}</td>
                                    <td> {{ val.fromhost| raw  }}</td>
                                     <td> {{ val.message| raw  }}</td>
                                       <td> {{ val.syslogtag| raw  }}</td>
                                
                                       
                            </tr>
                                   {% endfor %}    
                        </table>
                        {% else %}
                            
                            <h3> Pas de log en base de donnée</h3>
                            
                         {% endif %}  
                            
                       
                   
                    
                </div>
                      
            </div>
                          <div class="navigation text-center">
                               {% if listing != null %}
                 {{ knp_pagination_render(listing) }}
                 {% endif %}  
</div>
        </div>
   
        
{% endblock %}
