
{# empty Twig template #}
<div class="pagination">
    <div class="pagination-buttons">
        <ul class="pagination">
        {% if pagination.page>1 %}
          <li>   <a href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}"><<</a> </li>
            <li>  <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}"><</a></li>
        {% endif %}
        
        
        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
        {% for p in range(max(pagination.page-4, 1),min(pagination.page+4, pagination.pages_count)) %}
            
        <li{% if p == pagination.page %} class="active"{% endif %}><a 
                                        href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a>
        {% endfor %}
            {% if pagination.page<pagination.pages_count %}
                <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">></a>
                <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.pages_count})) }}">>></a>
            {% endif %}
        </ul>
        </div>
       
    </div>


