{% extends "::base.html.twig" %}

{% block titrePage %}
            {{ titrePage }} {% endblock %}

            
{% block menuleft  %}  
    <div id="menuGauche" class='center2'>
                     <a href="{{ path(chemin) }}/add"> Ajouter un {{ activite }}  </a>  
                    </div>
    
    {% endblock %}

{% block contenu %}
     
    
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ activite |capitalize }} locaux</h3>
                </div>
                <div class="panel-body">
                    {% for jeune in tab %}
                        <a href="{{ path(chemin,{'listingId': jeune.id}) }}"> {{ jeune.affichage |capitalize }}  </a><br />
                        
                            
                       
                    {% endfor %}
                    
                </div>
            </div>
        </div>
   
{% endblock %} 