{% extends "::base.html.twig" %}

{% block titrePage %}
    {{ titrePage }} {% endblock %}


    {% block menuleft  %}  
        <div id="menuGauche" class='center2'>
             {% if activite == "utilisateur" and is_granted("ROLE_USER_C") or is_granted("ROLE_ADMIN")%} 
                <a href="{{ path(chemin) }}/add"> Ajouter un {{ activite }}  </a>  <br />
                {%endif %}
              
            {% if activite == "utilisateur"and is_granted("ROLE_LDAP_I") or is_granted("ROLE_ADMIN") %}  <a href="{{ path("PASS_importLDAP") }}"> Importer des utilisateur ldap  </a>  {% endif %}           
        </div>

    {% endblock %}

    {% block contenu %}
        {% if (notification  is defined) and (notification != null) %}

            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Succes:</span>
                Le compte à été mis à jour
            </div>

        {% endif %}
        {% if (activite == "utilisateur" and is_granted("ROLE_USER_R") or is_granted("ROLE_ADMIN")or is_granted("ROLE_MEMORY")) or(activite == "groupe" and is_granted("ROLE_GROUPE_R") or is_granted("ROLE_ADMIN")) %} 

        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ activite |capitalize }} locaux <div class="aligner" > 

                            {% if activite == "utilisateur" and is_granted("ROLE_USER_C") or is_granted("ROLE_ADMIN") or is_granted("ROLE_MEMORY")%}
                                <a href="{{ path('PASS_CreationUtilisateur') }}"><span class="glyphicon glyphicon-plus" title="Voir l'utilisateur"  aria-hidden="true"></span> </a>

                            {% elseif activite == "groupe" and is_granted("ROLE_GROUPE_C") or is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('PASS_CreationGroupe') }}"><span class="glyphicon glyphicon-plus" title="Voir l'utilisateur"  aria-hidden="true"></span> </a>


                            {% endif %}            


                        </div></h3>
                </div>
                <div class="panel-body">

                    <table class="col-lg-12">

                        <tr>
                            <th> Nom </th>
                            <th> Action rapide </th>

                        </tr>
                        {% for jeune in tab %}
                            <tr>
                                <td>
                                    {% if ((is_granted("ROLE_MEMORY") and not jeune.suprimable ))%}
                                    <a href="{{ path(chemin,{'listingId': jeune.id}) }}"> {{ jeune.affichage |capitalize }}  </a>
                                    {% else %}
                                {{ jeune.affichage |capitalize }}
                                {%endif%}
                                </td>
                                <td> 
                                    {% if activite == "utilisateur" %}
                                        {% include "PASSAuthentificationLogBundle:listing:actionRapideUser.html.twig" %}
                                    {% elseif activite == "groupe" %}
                                        {% include "PASSAuthentificationLogBundle:listing:actionRapideGroupe.html.twig" %}

                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
                    {%endif%}
        {% if (ldap is defined) and ldap %}
             {% if (  is_granted("ROLE_LDAP_I") or is_granted("ROLE_ADMIN"))%}
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ activite |capitalize }} LDAP <div class="aligner" > 

                                {% if activite == "utilisateur" %}
                                    <a href="{{ path('PASS_importLDAP') }}"><span class="glyphicon glyphicon-download" title="Voir l'utilisateur"  aria-hidden="true"></span> </a>


                                {% endif %}            

                                
                            </div></h3>
                    </div>
                    <div class="panel-body">
                        <table class="col-lg-12">

                            <tr>
                                <th> Nom </th>
                                <th> Action rapide </th>

                            </tr>


                            {% for jeune in ldap %}
                                <tr>
                                    <td><a href="{{ path(chemin,{'listingId': jeune.id}) }}"> {{ jeune.affichage |capitalize }}  </a></td>

                                    <td> 
                                        {% if activite == "utilisateur" %}
                                            {% include "PASSAuthentificationLogBundle:listing:actionRapideUserLdap.html.twig" %}
                                        {% elseif activite == "groupe" %}
                                            {% include "PASSAuthentificationLogBundle:listing:actionRapideGroupe.html.twig" %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
                            {%endif%}

        {% endif %}

    {% endblock %} 